<div class="post-outer" data-post-title="<%= page.title %>" id="post">
  <section class="post-toc">
    <%- partial('commons/sidebar/sidebar-left', {post: page}) %>
  </section>
  <section class="post-main">
    <%- partial('commons/article', {post: page, index: false}) %>
    <% if (theme.giscus.enabled && theme.giscus.repo && theme.giscus.repoId && theme.giscus.category && theme.giscus.categoryId){ %>
      <%- partial('includes/giscus') %>
    <% } %>
  </section>
  <section class="post-sidebar">
    <%- partial('commons/sidebar/sidebar-right', null, {cache: !config.relative_link}) %>
  </section>
</div>
